spring:
 application:
  name: cart-service

#redis
 data:
  redis:
   host: localhost
   port: 6379

server:
    port: 8082
cart:
 ttl-days: 7
 max-items: 100
 max-quantity-per-item: 99

eureka:
  client:
   service-url:
    defaultZone: http://localhost:8761/eureka/
   register-with-eureka: true
   fetch-registry: true
  instance:
   prefer-ip-address: true
   instance-id: ${spring.application.name}:${server.port}

resilience4j:
 circuitbreaker:
  instances:
   catalogService:
    slidingWindowSize: 10
    minimumNumberOfCalls: 5
    failureRateThreshold: 50
    waitDurationInOpenState: 10s
    permittedNumberOfCallsInHalfOpenState: 3
 retry:
  instances:
   catalogService:
    maxAttempts: 3
    waitDuration: 1s